<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <title>Add-items</title>
  </head>
  <body>
    <%- include('./patial/nav.ejs') %>
    <div class="container center-align">
      <i class="large material-icons"> sentiment_very_dissatisfied</i>
      <h1>Ooops!</h1>
      <h3>404 - cannot access page</h3>
    </div>
  </body>
</html>
